.header {
 background-color: rgb(171, 122, 12);
 color: rgb(9, 50, 173);
 margin-bottom: 15px;
 padding: 15px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 font-family: 'Baloo Tammudu 2', cursive;
 justify-content: space-between;
}

body {
    background-color: lightcyan;
    margin: 0;
    padding: 0;
}

.wrapper,.container {
     display: flex;
     flex: 0 1 auto;
}

.wrapper{
    align-items: center;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.picture_block {
    flex: 0 1 auto;
    margin-right: 15px;
}

.picture_block p {
    border-radius: 4px;
    background-color: rgb(204, 226, 221);
}

.main_block {
    flex: 0 1 auto;
    width: 450px;
    margin-right: 15px;
    margin-left: 30px;
    background-color: rgb(204, 226, 221);
}

img {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

@media screen and (max-width: 1000px) {
    .container {
        justify-content: center;
    }

    .picture_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 0px;
        margin-bottom: 15px;
        flex: 1 0 auto;
    }

    .picture_block p {
        margin: 15px 0 0 0;
    }
}