.header {
 background-color: rgb(171, 122, 12);
 color: rgb(9, 50, 173);
 margin-bottom: 15px;
 padding: 15px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 font-family: 'Baloo Tammudu 2', cursive;
}

body {
    background-color: lightcyan;
  }

.wrapper,.container {
     display: flex;
     flex: 0 1 auto;

}

.wrapper{
    align-items: center;
}

.container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
@media all and (max-width: 1000px) {
    .container {
        justify-content: center;
    }
}



.picture_block {
    margin-right: 15px;
    flex: 0 1 auto;
}

@media all and (max-width: 1000px) {
    .picture_block {
        margin-right: 0px;
        flex: 1 0 auto;
    }
} 

img {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}
