.header {
 background-color: rgb(131, 108, 5);
 color: rgb(243, 172, 172);
 margin-bottom: 15px;
 padding: 15px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
}

body {
    background-color: lightcyan;
  }

.wrapper,.container {
     display: flex;
     flex: 0 1 auto;

}

.wrapper{
    align-items: center;
}

.container {
    max-width: 950px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.picture_block {
    margin-right: 15px;
    flex: 0 1 auto;
}

img {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

/* .second_block {
    
} */